.menu-item {
    width: calc(15rem + 5vw);
    height: calc(15rem + 5vw);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid black;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;



    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 4s;
      overflow: hidden;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: rgb(255, 255, 255);
      opacity: .8; 
      border: 2px solid black;
      transition: all .5s ease-in-out;

      margin-bottom: 6px;
      cursor: pointer;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: .10rem;
        color: #1f1436;
        transition: all .3s ease-in-out;

        font-family: 'Lobster', cursive;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }

    .content:hover {
        background-color: rgb(246, 246, 246);
        opacity: 1;
        transform: translateZ(50px);
        

        .title {
            color: #fc6e6e;
            transition-delay: 0.1s;
        }
    }

    
  }

  .menu-item:hover {
    overflow: hidden;
    

    img {
      transform: scale(1.10);
    }
  }



  @media screen and (min-width: 500px) and (max-width: 1000px) {
    .large{
        background-position: 10% 5%;
    }
  }
