:root {
    font-size: 14px;
}

body {
    margin: 0;
    padding: calc(.5rem + 2vw) calc(.5rem + 3vw);
}

a {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 510px) {
    body {
        padding: 1rem 1rem;
    }
}